@page "/EditEmployee/{action}/{argument?}"
@using System.Diagnostics
@using System.Globalization
@using WEBtransitions.ClassLibraryDatabase.DBContext
@using Microsoft.EntityFrameworkCore
@using System.Web

@using WEBtransitions.CustomErrors
@using WEBtransitions.Services

@inject EmployeeSvc dbsvc
@inject RegionSvc _regionSvc

@inject NavigationManager MyNavigationManager

@*
  Parameter <code>action</code> defines type of the screen:
    <list type="bullet">
        <item><code>edit</code> - Edit employee</item>
        <item><code>view</code> - View details of the employee</item>
        <item><code>new</code> - create new employee</item>
        <item><code>delete<code> - confirm delete operation</item>
    </list>
  Parameter <code>argument</code> contains id of the employee. Parameter is optional for the <code>new</code> action.

  https://www.telerik.com/blogs/blazor-basics-uploading-files-blazor-server-web-applications
  https://learn.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-9.0

*@

<div class="page-content">
    <EditForm EditContext="editContext" OnValidSubmit=@HandleSubmit FormName="EditEmployee" method="POST" enctype="multipart/form-data" Enhance>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="img-content">
            @if (!String.IsNullOrEmpty(Action) && (Action == "edit" || Action == "new"))
            {
                <fieldset>
                    <legend>Upload image:</legend>
                    <img src="@Model!.PhotoUrl" />
                    <InputFile OnChange="FileUploaded" />

                    @* Uploading files using IBrowserFile (IBrowserFileCollection) is explained on site https://www.youtube.com/watch?v=a5-iQ5IGtT0  *@
                    @* https://github.com/alex-wolf-ps/blazor-file-uploads/tree/main *@
                    @* <InputFile name="Employee.PhotoFile" /> *@
                </fieldset>
            }
            else
            {
                <img src="@Model!.PhotoUrl" />
            }
        </div>
        <div class="form-content">
            <h2>@Model.ItemValue</h2>

            <div class="form-group">
                <label class="left-column" for="first-name">First name</label>
                <InputText name="first-name" @bind-Value="Model!.FirstName" Disabled="@IsReadOnly" class="wide-input-control"></InputText>
            </div>

            <div class="form-group">
                <label class="left-column" for="last-name">Last name</label>
                <InputText name="last-name" @bind-Value="Model!.LastName" Disabled="@IsReadOnly" class="wide-input-control"></InputText>
            </div>
            <div class="form-group">
                <label class="left-column" for="title">Title</label>
                <InputText name="title" @bind-Value="Model!.Title" Disabled="@IsReadOnly" class="wide-input-control"></InputText>
            </div>
            <div class="form-group">
                <label class="left-column" for="title-Of-courtesy">Title of courtesy</label>
                <InputText name="title-Of-courtesy" @bind-Value="Model!.TitleOfCourtesy" Disabled="@IsReadOnly" class="narrow-input-control"></InputText>
            </div>
            <div class="form-group">
                <label class="left-column" for="birth-date">Birth date</label>
                <input name="birth-date" @bind-value=Model!.BirthDate @bind-value:format="yyyy-MM-dd" Disabled="@IsReadOnly" class="narrow-input-control" />
            </div>
            <div class="form-group">
                <label class="left-column" for="hire-date">Hire date</label>
                <input name="hire-date" @bind-value=Model!.HireDate @bind-value:format="yyyy-MM-dd" Disabled="@IsReadOnly" class="narrow-input-control" />
            </div>
            <div class="form-group">
                <label class="left-column" for="address">Address</label>
                <InputText name="address" @bind-Value="Model!.Address" Disabled="@IsReadOnly" class="wide-input-control"></InputText>
            </div>
            <div class="form-group">
                <label class="left-column" for="city">City</label>
                <InputText name="city" @bind-Value="Model!.City" Disabled="@IsReadOnly" class="wide-input-control"></InputText>
            </div>
            <div class="form-group">
                <label class="left-column" for="region">Region</label>
                <Autocomplete name="region" @bind-Value=@Model!.Region ClassInput="middle-input-control" action="@Action" RegionChanged="RegionChangedHanler">
                    @foreach (var item in allRegions)
                    {
                        <option value=@item />
                    }
                </Autocomplete>
                <span name="remember-region">
                    <InputCheckbox @bind-Value=Model!.RememberRegion style="width: 15px;" title="Save the name in the 'Region' table" Disabled="@IsReadOnly"></InputCheckbox>
                    <label for="remember-region">Remember region</label>
                </span>
            </div>
            <div class="form-group">
                <label class="left-column" for="postal-code">Postal code</label>
                <InputText name="postal-code" @bind-Value="Model!.PostalCode" Disabled="@IsReadOnly" class="narrow-input-control"></InputText>
            </div>
            <div class="form-group">
                <label class="left-column" for="country">Country</label>
                <InputText name="country" @bind-Value="Model!.Country" Disabled="@IsReadOnly" class="wide-input-control"></InputText>
            </div>
            <div class="form-group">
                <label class="left-column" for="home-phone">Home phone</label>
                <InputText name="home-phone" @bind-Value="Model!.HomePhone" Disabled="@IsReadOnly" class="narrow-input-control"></InputText>
                <InputText name="extension" @bind-Value="Model!.Extension" style="margin-left: 1em;" Disabled="@IsReadOnly" title="Extension" class="narrow-input-control"></InputText>
            </div>
            <div class="form-group">
                <label class="left-column" for="reports-to">Reports to</label>
                <InputSelect name="reports-to" @bind-Value="Model!.ReportsToStr" style="padding: 5px 0px;" class="wide-input-control" Disabled="@IsReadOnly">
                    @foreach (var item in allEmployees)
                    {
                        <option value="@item.ItemKey">@item.ItemValue</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label class="left-column" for="notes" style="vertical-align: top;">Notes</label>
                <InputTextArea name="notes" @bind-Value="Model!.Notes" style="overflow-y: auto;" Disabled="@IsReadOnly" Rows="5" class="wide-input-control"></InputTextArea>
            </div>
            @if (!String.IsNullOrEmpty(Action) && (Action == "edit" || Action == "delete"))
            {
                <div class="form-group @ConcurrencyOpt" name="concurrency-opt">
                    <label class="left-column" for="ignore-concurency">Ignore concurrency</label>
                    <InputCheckbox name="ignore-concurency" @bind-Value=Model!.IgnoreConcurency style="width: 15px;"></InputCheckbox>
                </div>
            }

            <!-- https://docs.blazorbootstrap.com/components/dropdown -->
            <!-- https://stackoverflow.com/questions/77801550/how-to-upload-a-file-in-blazor-ssr-net-8 ?? -->

            <div class="form-group">
                @if (String.IsNullOrEmpty(Action) || Action == "view")
                {
                    <a href="/Employees" class="btn btn-primary">
                        <img src="Images/close_2.png" width="16" height="16" title="Close window" />Close
                    </a>
                }
                else if (!String.IsNullOrEmpty(Action) && (Action == "edit" || Action == "new"))
                {
                    <div class="confirmation">
                        <button class="btn btn-primary" type="submit">
                            <img src="Images/saveIcon.png" width="16" height="16" title="Update database" />Save
                        </button>
                        <button class="btn btn-secondary" type="button" @onclick="async () => await RestoreRecord()">
                            <img src="Images/close_2.png" width="16" height="16" title="Update database" />No, cancel
                        </button>
                    </div>
                }
                else if (!String.IsNullOrEmpty(Action) && Action == "delete")
                {
                    <p class="@TitleClass text-danger">This record will be removed. Are you sure?</p>
                    <div class="confirmation">
                        <button class="btn btn-danger" @onclick="async () => await DeleteEmployeeAsync(Model)"
                                                       @onclick:preventDefault @onclick:stopPropagation>
                            <img src="Images/check.png" width="16" height="16" title="Update database" />Yes, delete
                        </button>
                        <button class="btn btn-secondary" type="button" @onclick="async () => await RestoreRecord()">
                            <img src="Images/close_2.png" width="16" height="16" title="Update database" />No, cancel
                        </button>
                    </div>
                }
            </div>
        </div>
    </EditForm>
</div>

@code {
    /// <summary>
    /// Action in the current page: read comments at beginnig of the file
    /// </summary>
    [Parameter]
    public string? Action { get; set; } = null;

    /// <summary>
    ///employee ID
    /// </summary>
    [Parameter]
    public string? Argument { get; set; } = null;

    [SupplyParameterFromForm(FormName = "Editemployee")]
    private Employee Model { get; set; } = new();

    private EditContext? editContext;
    private string TitleClass = "d-none";

    private ValidationMessageStore? messageStore;
    public required string[] allRegions;
    public required SelectableItem[] allEmployees;

    /// <summary>
    /// "readonly" for the <code>view</code> operation. Empty string for the all other cases.
    /// </summary>
    internal bool IsReadOnly = false;
    private CultureInfo ActiveCulture = CultureInfo.CurrentCulture;

    public string FileName { get; set; } = "";
    public long FileSize { get; set; }
    public string FileType { get; set; } = "";
    public DateTimeOffset LastModified { get; set; }
    public string ErrorMessage { get; set; } = "";

    [CascadingParameter(Name = "IgnoreConcurrency")]
    public string ConcurrencyOpt { get; set; } = "hidden";

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        Model ??= new();
        editContext = new(Model);
        messageStore = new(editContext);
        this.allRegions = await _regionSvc.GetAllEntities().Select(x => x.RegionDescription).ToArrayAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        Debug.Assert(Action == "new" || !String.IsNullOrEmpty(Argument));
        Employee? employee;

        if (String.IsNullOrEmpty(Argument) || Action == "new")
        {
            employee = new()
            {
                EmployeeId = null,
                LastName = "employee",
                FirstName = "New"
            };

        }
        else
        {
            employee = await dbsvc.GetEntityByIdAsync(Argument);
        }
        if (employee == null)
        {
            this.ErrorMessage = $"employee {Argument} was not found.";
            return;
        }
        IsReadOnly = (Action == "view" || Action == "delete");

        this.Model = employee;
        this.allEmployees = dbsvc.GetSelectableItems(employee.EmployeeId ?? 0, employee.ReportsTo).ToArray();
        TitleClass = (!String.IsNullOrEmpty(Action) && Action == "delete") ? "d-inline-block" : "d-none";
    }

    internal void RegionChangedHanler(string newRegion)
    {
        this.Model!.Region = newRegion;
    }

    public async Task HandleSubmit(EditContext editContext_1)
    {
        Employee? currentItem = null;
        string? backUrl = null;

        messageStore?.Clear();
        bool valid = this.editContext!.Validate();
        if (!valid)
        {
            return;
        }

        try
        {
            Debug.Assert(Model != null);

            if (this.Action == "new")
            {
                currentItem = await dbsvc.CreateEntity(Model);
                backUrl = $"/Employees?new_id={currentItem.ItemKey}";
            }
            else
            {
                currentItem = await dbsvc.UpdateEntity(Model);
                backUrl = "/Employees/";
            }
            if (currentItem.RememberRegion && currentItem.IsDeleted == 0 && !String.IsNullOrEmpty(currentItem.Region))
            {
                await _regionSvc.CreateEntity(currentItem.Region);
            }
            MyNavigationManager.NavigateTo(backUrl!);
        }
        catch (DatabaseException ex)
        {
            string errorMessage = HttpUtility.UrlEncode($"Key:{Model!.ItemKey} updating failed: {ex.Message}");
            MyNavigationManager.NavigateTo($"/Employees?db_error={errorMessage}");
        }
        catch (Exception ex)
        {
            string errorMessage = HttpUtility.UrlEncode($"Key:{Model!.ItemKey} updating failed: {ex.Message}");
            MyNavigationManager.NavigateTo($"/Employees?db_error={errorMessage}");
        }
    }

    private async Task DeleteEmployeeAsync(Employee employee)
    {
        try
        {
            Debug.Assert(Model != null);
            Model.IsDeleted = 1;

            await dbsvc.DeleteEntityByIdAsync(employee);
            MyNavigationManager.NavigateTo("/Employees/");
        }
        catch (DatabaseException ex)
        {
            string errorMessage = HttpUtility.UrlEncode($"Key:{Model!.ItemKey} deleting failed: {ex.Message}") ;
            MyNavigationManager.NavigateTo($"/Employees?db_error={errorMessage}");
        }
    }

    public async Task FileUploaded(InputFileChangeEventArgs e)
    {
        Debug.Assert(Model != null && e.File != null);
        Model.Photo = await dbsvc.BytesFromStream(e.File);
    }

    protected async Task RestoreRecord()
    {
        Debug.Assert(Model != null);
        await dbsvc.Ctx.ReloadIfModified<Employee>(Model);
        MyNavigationManager.NavigateTo($"/Employees/");
    }

}
