@page "/Employees/{sortname?}"

@using System.Globalization
@using System.Linq.Expressions
@using System.Reflection
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Configuration;
@using Microsoft.Extensions.Options
@using WEBtransitions.Services
@using WEBtransitions.Services.Interfaces

@attribute [StreamRendering(true)]

@inject IDatabaseSvc<Employee, string> dbSVC
@inject IConfiguration Configuration
@rendermode InteractiveServer

@* @inject IOptions<AppSettings> AppConfiguration *@

<PageTitle>Employees</PageTitle>

@if (CurrentPage == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table reportTable" name="list-of-employees">
        <caption>Employees</caption>
        <thead>
            <tr>
                <th name="LastName" data-sort="@SortParameter![0].Substring(0, 1)">
                    <a href="/Employees/@SortParameter[0]">Last name</a>
                </th>
                <th name="FirstName" data-sort="@SortParameter[1].Substring(0, 1)">
                    <a href="/Employees/@SortParameter[1]">First name</a>
                </th>
                <th name="Title" data-sort="@SortParameter[2].Substring(0, 1)">
                    <a href="/Employees/@SortParameter[2]">Title</a>
                </th>
                <th name="TitleOfCourtesy" data-sort="@SortParameter[3].Substring(0, 1)">
                    <a href="/Employees/@SortParameter[3]">Title of Courtesy</a>
                </th>
                <th name="BirthDate" data-sort="@SortParameter[4].Substring(0, 1)">
                    <a href="/Employees/@SortParameter[4]">Birth date</a>
                </th>
                <th name="HireDate" data-sort="@SortParameter[5].Substring(0, 1)">
                    <a href="/Employees/@SortParameter[5]">Hire date</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in CurrentPage)
            {
                <tr>
                    <td>@emp.LastName</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.Title</td>
                    <td>@emp.TitleOfCourtesy</td>
                    <td>@emp.BirthDate?.ToString(ActiveCulture)</td>
                    <td>@emp.HireDate?.ToString(ActiveCulture)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Employee[]? CurrentPage;
    private CultureInfo ActiveCulture = CultureInfo.CurrentCulture;

    private static readonly string[] FieldNames = { "LastName", "FirstName", "Title", "TitleOfCourtesy", "BirthDate", "HireDate" };
    public List<string>? SortParameter; 

    /// <summary>
    /// <list type="number">
    ///     <item>SortName is null or empty - no sort</item>
    ///     <item>SortName starts with "n" - no sort</item>
    ///     <item>SortName starts with "a" - sort ascending; name of sorting field starts from SortName[2]</item>
    ///     <item>SortName starts with "d" - sort descending; name of sorting field starts from SortName[2]</item>
    /// </list>
    /// </summary>
    [Parameter]
    public string? SortName { get; set; }

    protected override void OnInitialized()
    {
        //        ActiveCulture = new CultureInfo("lt-LT");   // Yne can set to any another value. You 
        //        string activeCultureStr = Configuration.ActiveCulture ?? "en-US";
        //        ActiveCulture = new CultureInfo(activeCultureStr);
        // string activeCultureStr = AppConfiguration?.Value?.ActiveCulture ?? "en-US";

        // await Task.Delay(1000);  // Test for stream rendering

        string activeCultureStr = Configuration == null ? "en-US" : (Configuration["AppSettings:ActiveCulture"] ?? "en-US");
        ActiveCulture = new CultureInfo(activeCultureStr);
    }

    protected override async Task OnParametersSetAsync()
    {
        SortParameter = new List<string>();
        var page = dbSVC.GetAllEntities();

        if (String.IsNullOrEmpty(SortName))
        {
            ResetSort();
            CurrentPage = await page.ToArrayAsync();
        } 
        else
        {
            Tuple<string, string> sortDefinition = SetSort(SortName);
            for (int i = 0; i < FieldNames.Length; i++)
            {
                if (FieldNames[i] != sortDefinition.Item2)
                {
                    SortParameter.Add($"n_{FieldNames[i]}");
                }
                else
                {
                    SortParameter.Add($"{sortDefinition.Item1}_{FieldNames[i]}");
                }
            }
            if (sortDefinition.Item1.StartsWith("n"))
            {
                CurrentPage = await page.ToArrayAsync();    // no sort
            }
            else
            {
                // a --> ascending, d --> descending
#pragma warning disable CS8600
                PropertyInfo propInfo = typeof(Employee).GetProperty(sortDefinition.Item2, BindingFlags.IgnoreCase | BindingFlags.Public | BindingFlags.Instance);
#pragma warning restore CS8600
                if (propInfo == null)
                {
                    CurrentPage = await page.ToArrayAsync();    // Invalid name of the field: no sorting
                }
                else
                {
                    var x = await page.ToListAsync();
                    if (sortDefinition.Item1.StartsWith("a"))
                    {
                        CurrentPage = x.OrderBy(e => propInfo.GetValue(e)).ToArray();
                    }
                    else
                    {
                        CurrentPage = x.OrderByDescending(e => propInfo.GetValue(e)).ToArray();
                    }
                }
            }
        }

    }

    private void ResetSort()
    {
        SortParameter = new List<string>();
        for (int i = 0; i < FieldNames.Length; i++)
        {
            SortParameter.Add($"n_{FieldNames[i]}");
        }
    }

    private Tuple<string, string> SetSort(string sortParameter)
    {
        string sortDirection;
        switch (sortParameter.Substring(0, 1))
        {
            case "n": sortDirection = "a";
                break;
            case "a": sortDirection = "d";
                break;
            default:
                sortDirection = "n";
                break;
        }
        string sortName = sortParameter.Substring(2);
        return new Tuple<string, string>(sortDirection, sortName);
    }

    // https://learn.microsoft.com/en-us/aspnet/core/blazor/blazor-ef-core?view=aspnetcore-5.0#new-dbcontext-instances-5x
}
